/* ELEMENTS */
body {
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* FUNCTIONS */
@font-face {
    font-family: 'caviar-dreams-bold';
    src: url("Fonts/CaviarDreams_Bold.ttf") 
        format('truetype');
}

@font-face {
    font-family: 'comfortaa-bold';
    src: url("Fonts/Comfortaa-Bold.ttf")
        format('truetype');
}

@font-face {
    font-family: 'lemonmilk-bold';
    src: url("Fonts/LEMONMILK-Bold.otf")
        format('postscript');
}

/* IDs */
#name {
    color: white;
    font-family: lemonmilk-bold;
}

#contact-info {
    color: white;
}

/* CLASSES */
.top-header {
    background-color: rgb(12, 12, 12);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

.top-header h1 {
    margin: 0;
    font-family: caviar-dreams-bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    background-color: #a0a0a0;
    padding: 20px;
    margin-bottom: 20px; /* Add space between sections */
}