@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&family=Major+Mono+Display&display=swap');

:root { /* setting the default variables for use later */
  --txt-color: #061F28; /* rgb(6, 31, 40) -- hsl(196, 74%, 9%)*/
  --bg-color: #EDF9FD; /* rgb(237, 249, 253) -- hsl(195, 80%, 96%)*/
  --primary-color: #EFA78A; /* rgb(239, 167, 138) -- hsl(17, 76%, 74%)*/
  --secondary-color: #C9EBF8; /* rgb(201, 235, 248) -- hsl(197, 77%, 88%)*/
  --accent-color: #FF4900; /* rgb(255, 73, 0) -- hsl(17, 100%, 50%)*/
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul { /* new default list style */
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.experiences {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}