@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Major+Mono+Display&display=swap');

:root { /* setting the default variables for use later */
  --bg: rgb(20, 20, 20); /* default background color and accents */
  --bg-accent: #fff;
  --text-color: #fff;
  --nav-size: 50px;
  --border: 1px solid;
  --border-radius: 8px;
  --speed: 500ms; /* animation speed */
  --margin: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul { /* new default list style */
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.experiences {
  font-family: Josefin Sans;
  height: 100vh;
  overflow: hidden;
  background-color: #1f1f1f;
}

.contactbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.contactbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* makes all the children start at the end */
}

.contact-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Josefin Sans;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: rgb(25, 25, 25);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.4);
}

.icon-button svg {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  top: 58px;
  background-color: rgb(25, 25, 25);
  border-radius: 50px;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: var(--border-radius);
  transition: background var(--speed);
}

.menu-item:hover {
  background-color: #525357;
}

.experiences {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-section {
  margin-bottom: 40px;
}

.experience-info {
  /* Information in this <ul> will be evenly spaced from each other */
  margin: 10px;
}