@font-face {
    font-family: 'CaviarDreams-B';
    src: url("../fonts/CaviarDreams_Bold.ttf") 
        format('truetype');
}
@font-face {
    font-family: 'Comfortaa-B';
    src: url("../fonts/Comfortaa-Bold.ttf")
        format('truetype');
}
@font-face {
    font-family: 'LemonMilk-B';
    src: url("../fonts/LEMONMILK-Bold.otf")
        format('postscript');
}