/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

section {
    display: grid; /* this makes it easy to center objects in section */
    place-items: center;
    align-content: center;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}