@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Major+Mono+Display&display=swap');

.top_header {
    position: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

    min-height: 5vh;
    width: 100vw;

    background-color: #232731;
    font-family: 'Josefin Sans', sans-serif;
}

.dropdown {
    position: relative;
    min-width: 15em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 0.5em;

    background: #2a2f3b;
    color: white;
    
    cursor: pointer;
    transition: background 0.3s;
}


/* 
  Button & caret styles 
  (added later in JavaScript)

*/

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;

    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    position: absolute;

    top: 3em;
    left: 50%;
    width: 100%;
    z-index: 1;
    
    display: none;
    transform: translateX(-50%);
    opacity: 0;
    
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #fff;
    background: #242131;
    border: 1px #272838;
    
    transition: 0.2s;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;

    cursor: pointer;
}

.menu li:hover {
    background: #26489a;
}

/* 

Active styles
(added in JavaScript)

 */

 .active {
    background: #faf;
 }

 .contact_info-open {
    display: block;
    opacity: 1;
 }

 