@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&family=Major+Mono+Display&display=swap");

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Centers the header in the middle of the screen */
  left: 7.5%;
  right: 7.5%;
  width: 85%;

  /* Creates soft corners */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  cursor: pointer;

  background-color: var(--secondary-color);
  color: var(--bg-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  font-family: Josefin Sans;
  font-weight: 900;
  text-align: center;

  transition: background-color 0.3s;
}

.header.hovered {
  background-color: #26499a; /* Change color on hover */
  box-shadow: 0 10px 10px rgba(39, 63, 121, 0.3);
  color: aliceblue;
  transition: 0.3s;
}

.name {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 10px;
}
