/* ELEMENTS */
body {
  background-color: #323232;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* FUNCTIONS */
@font-face {
  font-family: 'caviar-dreams-bold';
  src: url("src/fonts/CaviarDreams_Bold.ttf") 
      format('truetype');
}

@font-face {
  font-family: 'comfortaa-bold';
  src: url("src/fonts/Comfortaa-Bold.ttf")
      format('truetype');
}

@font-face {
  font-family: 'lemonmilk-bold';
  src: url("src/fonts/LEMONMILK-Bold.otf")
      format('postscript');
}