/*#region -- FUNCTIONS */
@font-face {
    font-family: 'CaviarDreams-B';
    src: url("Fonts/CaviarDreams_Bold.ttf") 
        format('truetype');
}
@font-face {
    font-family: 'Comfortaa-B';
    src: url("Fonts/Comfortaa-Bold.ttf")
        format('truetype');
}
@font-face {
    font-family: 'LemonMilk-B';
    src: url("Fonts/LEMONMILK-Bold.otf")
        format('postscript');
}
/*#endregion*/

/*#region -- ELEMENTS */
/*#endregion*/

/*#region -- IDs */
/*#endregion*/

/*#region -- CLASSES */
/*#endregion*/